body {
    margin: 0;
    padding: 0;
    background-image: url(srci/aesthetic.jpg);
    background-position: center;
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
    opacity: 0.3;
  }
  .logo:hover {
  
    transition: 0.5s ease-in-out;
    opacity: 1;
  }
  

  .logo a {
    display: inline-block;
  }
  
  .logo img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  
  .container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s smooth ease-in-out;
    opacity: 0.3;
  }
  
  .container:hover {
    transition: 0.5s smooth ease-in-out;
    opacity: 1;


  }
  .submitbutton {
    font-family: 'Comfortaa', cursive;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    border: none;
    width: 100px;
    height: 40px;
    background-color: rgb(192, 131, 207);
    transform: 0.5 s ease-in-out;

  }
  .submitbutton:hover {

    transform: 0.5  ease-in-out;
    background-color: rgb(187, 142, 167);

  }
  .submit-heading {
    color: #474645; /* Replace with your desired color value */
    font-size: 24px; /* Adjust the font size as needed */
    text-align: center; /* Adjust the alignment as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
    font-family: 'Comfortaa', cursive;
  }

  .input-container {
    position: relative;
  }
  
  .input-field {
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-family: 'Comfortaa', cursive;
  }
  
  .describe-field {
    margin-bottom: 10px;
    width: 300px;
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 21px;
    word-break: break-all;
  }
  
  .char-count {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Comfortaa', cursive;
    color: #999;
  }